## Data files 
D-ARCH.xlsx
DSL_2020_Project_Data_Agreement.pdf
Data Overview.docx
ETH Professor list.xlsx
Exercise12_GraphDatabases.ipynb
Maurer_Hansruedi_2020-10-08_16_28_49.doc
RCP2.csv
ResearchCollection.xlsx
ResearchCollectionPublications2008_2018.tsv

## trash
.ipynb_checkpoints/

## .DS_Store
**/.DS_Store
