## Data files 
D-ARCH.xlsx
DSL_2020_Project_Data_Agreement.pdf
Data Overview.docx
ETH Professor list.xlsx
Exercise12_GraphDatabases.ipynb
Maurer_Hansruedi_2020-10-08_16_28_49.doc
RCP2.csv
ResearchCollection.xlsx
ResearchCollectionPublications2008_2018.tsv
theses-2020-10-12.csv
research-data-2020-10-12.csv
presentations-2020-10-12.csv
patents-2020-10-12.csv
papers-2020-10-12.csv
other-2020-10-12.csv
journal-2020-10-12.csv
educational-2020-10-12.csv
conference-2020-10-12.csv
books-2020-10-12.csv
RC export 2020-10-12.zip
Research areas from researcher profile page.xls

## trash
.ipynb_checkpoints/

## .DS_Store
**/.DS_Store
